<h5 class="my-3">Common Styling</h5>
<form [formGroup]="updateTextColorForm" class="row align-items-center">
  <p class="col m-0">Text Color</p>
  <div class="col">
    <input
      aria-label="input text color"
      class="form-control"
      formControlName="textColor"
      placeholder="#000000"
      type="text"
    />
  </div>
  <div
    *ngIf="
      updateTextColorFormControl.textColor.touched ||
      updateTextColorFormControl.textColor.dirty
    "
    class="m-0"
  >
    <div
      *ngIf="updateTextColorFormControl.textColor.hasError('pattern')"
      class="invalid-feedback d-block"
    >
      Invalid color code format. Please enter a valid hex color code (e.g.,
      #ff0000).
    </div>
  </div>
</form>
