<div
  class="container position-relative d-flex flex-column justify-content-center align-items-center bv-home-container"
>
  <div class="border border-primary text-container">
    <div class="empty-div border"></div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="text-content">
        <p
          *ngIf="text; else error"
          [ngStyle]="{'font-size.px': fontSize(), color: textColor()}"
          class="m-5"
        >
          {{ text }}
        </p>
        <ng-template #error>
          <p [ngStyle]="{'font-size.px': fontSize()}" class="text-danger m-5">
            {{ errorMessage }}
          </p>
        </ng-template>
      </div>
      <button
        (click)="increment()"
        [ngStyle]="{
          'background-color': buttonBackgroundColor(),
          color: textColor()
        }"
        class="m-5 w-25 btn"
        type="button"
      >
        Increment by one
      </button>
    </div>
  </div>
</div>
