.bv-home-container {
  height: 95vh;
}

.text-container {
  width: 500px;
  height: 600px;

  .text-content {
    height: 200px;
  }
}

.empty-div {
  height: 50px;
  background-color: greenyellow;
}
